.online-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -633px;
    left: 190px;
    z-index: 1;
    color: white;
  }
  
  .online {
    background-color: rgb(0, 255, 0);
    padding: 7px;

  }
  
  .offline {
    background-color: rgb(255, 0, 0);
    padding: 7px;
  }