
body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.ParrafoRating {
    display: flex;
    align-items: center;
  }
  
.SpanRating {
    margin-left: auto;
  }

.RatingMargin {
    margin-right: 10px;
  }

  .ratingdiv {
    z-index: 1;
    position: relative;
    top: -45px;
  }
